ID	Name

_

19015357 احمد محمود السعيد جاب الله


19015894	عبدالرحمن السيد جاد السيد

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.cluster import KMeans
from scipy.sparse.csgraph import laplacian
import matplotlib.pyplot as plt
import time

In [2]:
def readFile(fileName) :
    data = pd.read_csv(fileName, header=None)
    data.rename(columns = {41:'label'}, inplace = True)
    return data

In [3]:
training_data = readFile("kddcup.data.corrected")
test_data  = readFile("corrected.txt")

The catigorical data is columns 1, 2, 3, label

In [4]:
columns = [1, 2, 3, "label"]
les = []
for c in columns:
    print("changing column ", c)
    le = preprocessing.LabelEncoder()
    le.fit(np.concatenate((training_data[c], test_data[c])))
    print(); print(list(le.classes_))
    print(len(le.classes_), " catigories")
    les.append(le)
    training_data[c] = le.transform(training_data[c])
    test_data[c] = le.transform(test_data[c])
    print()

changing column  1

['icmp', 'tcp', 'udp']
3  catigories

changing column  2

['IRC', 'X11', 'Z39_50', 'aol', 'auth', 'bgp', 'courier', 'csnet_ns', 'ctf', 'daytime', 'discard', 'domain', 'domain_u', 'echo', 'eco_i', 'ecr_i', 'efs', 'exec', 'finger', 'ftp', 'ftp_data', 'gopher', 'harvest', 'hostnames', 'http', 'http_2784', 'http_443', 'http_8001', 'icmp', 'imap4', 'iso_tsap', 'klogin', 'kshell', 'ldap', 'link', 'login', 'mtp', 'name', 'netbios_dgm', 'netbios_ns', 'netbios_ssn', 'netstat', 'nnsp', 'nntp', 'ntp_u', 'other', 'pm_dump', 'pop_2', 'pop_3', 'printer', 'private', 'red_i', 'remote_job', 'rje', 'shell', 'smtp', 'sql_net', 'ssh', 'sunrpc', 'supdup', 'systat', 'telnet', 'tftp_u', 'tim_i', 'time', 'urh_i', 'urp_i', 'uucp', 'uucp_path', 'vmnet', 'whois']
71  catigories

changing column  3

['OTH', 'REJ', 'RSTO', 'RSTOS0', 'RSTR', 'S0', 'S1', 'S2', 'S3', 'SF', 'SH']
11  catigories

changing column  label

['apache2.', 'back.', 'buffer_overflow.', 'ftp_write.', 'guess_passwd.', 'httptunnel.', 'imap.', 'ipsweep.', 'land.', 'loadmodule.', 'mailbomb.', 'mscan.', 'multihop.', 'named.', 'neptune.', 'nmap.', 'normal.', 'perl.', 'phf.', 'pod.', 'portsweep.', 'processtable.', 'ps.', 'rootkit.', 'saint.', 'satan.', 'sendmail.', 'smurf.', 'snmpgetattack.', 'snmpguess.', 'spy.', 'sqlattack.', 'teardrop.', 'udpstorm.', 'warezclient.', 'warezmaster.', 'worm.', 'xlock.', 'xsnoop.', 'xterm.']
40  catigories

In [8]:
training_data

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,label
0,0,1,24,9,215,45076,0,0,0,0,...,0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,16
1,0,1,24,9,162,4528,0,0,0,0,...,1,1.0,0.0,1.00,0.00,0.0,0.00,0.0,0.0,16
2,0,1,24,9,236,1228,0,0,0,0,...,2,1.0,0.0,0.50,0.00,0.0,0.00,0.0,0.0,16
3,0,1,24,9,233,2032,0,0,0,0,...,3,1.0,0.0,0.33,0.00,0.0,0.00,0.0,0.0,16
4,0,1,24,9,239,486,0,0,0,0,...,4,1.0,0.0,0.25,0.00,0.0,0.00,0.0,0.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4898426,0,1,24,9,212,2288,0,0,0,0,...,255,1.0,0.0,0.33,0.05,0.0,0.01,0.0,0.0,16
4898427,0,1,24,9,219,236,0,0,0,0,...,255,1.0,0.0,0.25,0.05,0.0,0.01,0.0,0.0,16
4898428,0,1,24,9,218,3610,0,0,0,0,...,255,1.0,0.0,0.20,0.05,0.0,0.01,0.0,0.0,16
4898429,0,1,24,9,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.0,0.01,0.0,0.0,16
4898430,0,1,24,9,219,1098,0,0,0,0,...,255,1.0,0.0,0.14,0.05,0.0,0.01,0.0,0.0,16

In [9]:
test_data

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,label
0,0,2,50,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,16
1,0,2,50,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,16
2,0,2,50,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,16
3,0,2,50,9,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,28
4,0,2,50,9,105,146,0,0,0,0,...,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311024,0,2,50,9,105,147,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,16
311025,0,2,50,9,105,147,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,16
311026,0,2,50,9,105,147,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,16
311027,0,2,50,9,105,147,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,16
311028,0,2,50,9,105,147,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,16

In [10]:
print(np.array(les[3].classes_))

['apache2.' 'back.' 'buffer_overflow.' 'ftp_write.' 'guess_passwd.'
 'httptunnel.' 'imap.' 'ipsweep.' 'land.' 'loadmodule.' 'mailbomb.'
 'mscan.' 'multihop.' 'named.' 'neptune.' 'nmap.' 'normal.' 'perl.' 'phf.'
 'pod.' 'portsweep.' 'processtable.' 'ps.' 'rootkit.' 'saint.' 'satan.'
 'sendmail.' 'smurf.' 'snmpgetattack.' 'snmpguess.' 'spy.' 'sqlattack.'
 'teardrop.' 'udpstorm.' 'warezclient.' 'warezmaster.' 'worm.' 'xlock.'
 'xsnoop.' 'xterm.']

In [5]:
X_train, X_test = train_test_split(
    training_data.drop(columns='label'), train_size=0.0025, random_state=42, stratify=training_data['label'])
del X_test

In [7]:
print(X_train.shape)

(12246, 41)

In [9]:
def k_ways_normalized_cut(k):
    # Compute the Similarity matrix
    similarity_matrix = rbf_kernel(X_train.values)
    np.fill_diagonal(similarity_matrix, 0)

    # Compute the Laplacian matrix
    La = laplacian(similarity_matrix, normed=True)

    # Compute the eigenvectors of the Laplacian matrix
    _, eigenvecs = np.linalg.eigh(La)
    
    # Compute the k-means clustering of the normalized eigenvectors
    kmeans = KMeans(n_clusters=k, random_state=42).fit(eigenvecs[:, 1:k+1])
    return kmeans.labels_

In [10]:
k_ways_normalized_cut(23)

array([1, 1, 0, ..., 1, 1, 1])